{% extends "base.html" %}

{% block body %}

<section class="cta-section p-3">
    <div class="container d-flex justify-content-center">
        <div class="card w-50 shadow">
            <img src="static/images/Cocoa.jpg" class="card-img-top" alt="Cocoa">
            <div class="card-body text-center">
                <h2 class="card-title display-6">Why Pins?</h2>
                <p class="card-text lead">I decided when my son was born that we would get an enamel pin from every place he visited. They don't take up space in luggage, are colorful, and importantly, are easy to store in a jar (or two or three) at home.</p>
                <a class="btn btn-ypt btn-lg px-4 m-3" href="/contact">Start your pin collection</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
