{% extends "base.html" %}

{% block body %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 mb-4 fw-bold text-body-emphasis">

        <span class="manrope-title" style="letter-spacing: normal;">About </span>
        <span class="noto-serif-display-title">Yellow Pin</span> 
        <span class="manrope-title">Travel</span>
    
    </h1>

    <div class="col-lg-6 mx-auto">
        <p class="lead my-4 pt-3"> I'm Jen, the founder of <span class="noto-serif-display-paragraph">Yellow Pin </span><span class="manrope-paragraph">Travel</span>. I am an avid traveler with an insatiable appetite for planning travel. I have been across the globe in nearly every direction; my longest flight has been 14.5 hours in the air. I love every aspect of travel.</p>

        
        <img src="/static/images/glamour_shots/Jen_029 about 1.avif" class="about-image img-fluid mx-auto d-block rounded-3 mb-5 shadow" alt="Portrait of woman">
        

        <p class="lead mb-4 mt-5 pt-3"> I have been planning our family travel since 2019. Using traditional cash bookings and points and miles I have taken the three of us to 6 countries and Hawai'i twice. We have upcoming travel to 4 countries and Alaska. I tailor all of our trips to be engaging so it warms my soul when my kid says he misses being somewhere we traveled.</p>
    
        <img src="/static/images/glamour_shots/object 1 about 2.avif" class="about-image img-fluid mx-auto d-block rounded-3 my-3 shadow" alt="Tiled floor saying meet me here">
    
    </div>
</div>

<section class="about-section">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-md p-5 align-self-center d-flex justify-content-center">
                <div>
                    <h2 class="display-5 my-4">Traditional Cash Bookings</h2>
                    <p class="lead fs-4 my-2">I am an advisor with Fora and can work with you to tailor your perfect holiday. Fora has first class connections to get you upgrades and perks at hotels; I can also reserve those memorable activities and comforts that round out travel.</p>
                </div>
            </div>
            <div class="col-md-5">
                <img src="/static/images/glamour_shots/2026May40 about 3.avif" class="img-fluid mx-auto d-block rounded-3 my-3 shadow" alt="Foreign currency">
            </div>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5">
                <img src="/static/images/glamour_shots/2026May48 about 4.avif" class="img-fluid mx-auto d-block rounded-3 my-3 shadow" alt="Passport stamps">
            </div>
            <div class="col-md p-5 align-self-center d-flex justify-content-center">
                <div>
                    <h2 class="display-5 my-4">Points and Miles</h2>
                    <p class="lead fs-4 my-2">I am well versed in the points and miles world and am happy to be your beacon. I can do your award flight search, find the perfect hotel on points, or teach you how to all works if you are new to this world.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section py-4">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-md p-5 align-self-center d-flex justify-content-center">
                <div class="card rounded-3 shadow">   
                    <div class="card-body text-center">
                        <h2 class="display-5 mb-3">Why Pins?</h2>
                        <p class="lead">I decided when my son was born that we would get an enamel pin from every place he visited. They don't take up space in luggage, are colorful, and importantly, are easy to store in a jar (or two or three) at home.</p>
                        <a class="btn btn-ypt btn-lg px-4 m-3" href="/contact">Start your pin collection</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="static/images/glamour_shots/object pin jars square.JPG" class="img-fluid w-75 mx-auto d-block rounded-3 my-3 shadow" alt="Enamel pins in jars">
            </div>
        </div>
    </div>
</section>



<div class="px-4 py-5 mt-5 text-center">
    <h1 class="display-5 mb-4" style="font-weight: 500;" >Some of the Trips We've Taken</h1>
</div>
<div class="container mb-5">
    <div class="row g-5 justify-content-center">
        <div class="col-md-4">
            <img src="/static/images/family_pics/IMG_5174.avif" class="img-fluid rounded-3" alt="Cocoa">
        </div>
        <div class="col-md-4">
            <img src="/static/images/family_pics/6AFE3425-BD61-45C7-BB0B-0B7CA0DC6016.avif" class="img-fluid rounded-3" alt="Cocoa">
        </div>
        <div class="col-md-4">
            <img src="/static/images/family_pics/54A74EEE-695E-4707-8186-FDFF2F71F063.avif" class="img-fluid rounded-3" alt="Cocoa">
        </div>
        <div class="col-md-4">
            <img src="/static/images/family_pics/AA9373A2-CC76-45AD-8753-5553C6EEA915.avif" class="img-fluid rounded-3" alt="Cocoa">
        </div>
        <div class="col-md-4">
            <img src="/static/images/family_pics/D39BB460-4DBE-482F-9AFA-A1C5CC076BAB.avif" class="img-fluid rounded-3" alt="Cocoa">
        </div>       
        <div class="col-md-4">
            <img src="/static/images/family_pics/IMG_0213.avif" class="img-fluid rounded-3" alt="Cocoa">
        </div>
         <div class="col-md-4">
            <img src="/static/images/family_pics/145604CD-C584-4EF3-9173-56B98A26CAE0.avif" class="img-fluid rounded-3" alt="Cocoa">
        </div>
        <div class="col-md-4">
            <img src="/static/images/family_pics/IMG_0934.avif" class="img-fluid rounded-3" alt="Cocoa">
        </div>
        <div class="col-md-4">
            <img src="/static/images/family_pics/IMG_3037.avif" class="img-fluid rounded-3" alt="Cocoa">
        </div>
        <div class="col-md-4">
            <img src="/static/images/family_pics/IMG_2307.avif" class="img-fluid rounded-3" alt="Cocoa">
        </div>
        
    </div>
</div>

{% endblock %}
