{% extends "base.html" %}

{% block body %}

<div class="container-sm px-4 py-5 my-5 text-center">
    <h1 class="display-5 mb-4 fw-bold text-body-emphasis">Contact</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead p-3">Send a message here or via the email below.</p>
    </div>
    <div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSej9u1K21SfE116tix0guFy-lTz4mkygPkTcD7m9ezGbcZSSw/viewform?embedded=true" width="800" height="1460" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>



{% endblock %}
