{% extends "base.html" %}

{% block body %}

<section class="hero d-flex flex-column justify-content-center ">

    <div class="container-lg py-3 py-md-4 mt-md-5">
        <h2 class="display-5" style="font-weight: 500;">Here's what I can do for you:</h2>
    </div>
    
    <div class="container-lg py-3 py-md-5">
        <div class="row g-3">
            <div class="col-sm">
                <div class="card rounded-2 shadow" style="min-height: 43rem;">
                    <img src="/static/images/Fora_Logo_Wordmark_Black-Sand_S.png" class="card-img-top service-img py-3" alt="Fora logo">
                    <h3 class="card-title p-3">Traditional Travel Advisor</h3>
                    <p class="card-text p-3" style="text-align: justify;">I am a travel advisor with Fora; let me use the resources I have access to with Fora to craft you your perfect travel plan. I can work with any budget to give you the holiday you've been hoping for. Fora is an established travel agency with deep connections so I can provide you the personalized itinerary you deserve.</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card rounded-2 shadow" style="min-height: 43rem;">
                    <img src="/static/images/Points and Miles Travel Advisor icon.png" class="card-img-top service-img py-3" alt="Airplane">
                    <h3 class="card-title p-3">Points and Miles Travel Advisor</h3>
                    <p class="card-text p-3" style="text-align: justify;">I can help you utilize your points and miles to achieve your travel desires. Points and miles can let you travel for pennies on the dollar. I'm happy to strategize with you if cash or points are better for your specific use. And I'm happy to do the searching to find award availability.</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="card rounded-2 shadow" style="min-height: 43rem;">
                    <img src="/static/images/Points and Miles Strategy Advisor icon.PNG" class="card-img-top service-img py-3" alt="Credit card">
                    <h3 class="card-title p-3">Points and Miles Strategy Advisor</h3>
                    <p class="card-text p-3" style="text-align: justify;">If you want to start traveling with points and miles, I can be your strategy advisor. I can teach you the ins and outs of getting started and or advise you on continuing your journey. Points and miles can give you experiences that may otherwise be out of your price range. I can be your guide to a whole new world.</p>
                </div>
            </div>
        </div>
    </div>
    
    
</section>

{% endblock %}


